@{
    ViewBag.Title = "About";
}
<br />
@section head {
    <style>
        body {
            background: url("/Images/abstract-atmospheric-atmospheric-evening-1090972.jpg") no-repeat center center fixed;
            -webkit-background-size: cover;
            -moz-background-size: cover;
            -o-background-size: cover;
            background-size: cover;
        }

        #about {
            background-color: #e9e3ef;
        }
        #about h1 {
            font-family: 'Over the Rainbow', cursive;
            font-weight: bold;
        }
    </style>
    }

<div id="about" class="jumbotron text-center">
    <h1>@ViewBag.Title</h1>
    <hr />
    <div>
        <!-- I need a good photo of myself -->
    </div>
    <p style="max-width: 80%; margin-left: 10%; margin-right: 10% ">
        I entered the world of programming back when Neopets.com was popular. I dabbled with HTML and CSS to make pages look the way I wanted. Editing pages heavily
        became easier but I never thought it could be more than a hobby. I slowly slipped away from Neopets as I progressed through junior high and high school.
        <br /><br />
        Years later I come across the program at Clover Park Technical College while contemplating going back to school.<br />
        I remembered my days with Neopets and decided to really dive into what it all meant. I felt it was a perfect marriage of my logic and math skills while still
        allowing room for creativity.
        <br /><br />
        I graduated in March 2019 with my AAT in Computer Programming from Clover Park Technical College. <br />
        I was blessed with the opportunity to intern at MultiCare Health Systems with their Software Engineering Team. It has been an amazing opportunity to build on the foundations laid by my instructors
        at CPTC. My mentor taught me everything he could muster in these quick months-- I couldn't have asked for a better an internship at this point in my career. <br /><br />
        Winter 2020, I will begin pursuing my Bachelor's degree online through WGU while seeking career opportunities. <br /><br />
        In my research I've been focusing on front end technologies such as React and Angular while researching Wordpress to begin a little freelance work.<br /><br />
        <iframe width="560" height="315" src="https://www.youtube.com/embed/qWLQHd-rYfg" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </p>
    <hr />
</div>


