@{
    ViewBag.Title = "About";
}
<br />
@section head {
    <style>
        body {
            background: url("/Images/abstract-atmospheric-atmospheric-evening-1090972.jpg") no-repeat center center fixed;
            -webkit-background-size: cover;
            -moz-background-size: cover;
            -o-background-size: cover;
            background-size: cover;
        }

        #about {
            background-color: antiquewhite;
        }
    </style>
    }

<div id="about" class="jumbotron text-center">
    <h2>@ViewBag.Title</h2>

    <p>
        I entered the world of programming back when Neopets.com was popular. <br />
        I started dabbling with HTML and CSS to make pages look the way I wanted. <br />
        I was good at editing pages heavily but never looked into programming any further.
        <br /><br />
        Years later I come across the program at Clover Park Technical College while contemplating going back to school.<br />
        I remembered my days with Neopets and decided to really dive into what it all meant. I felt it was a perfect marriage of my logic and math skills while still 
        allowing room for creativity.
        <br /><br />
        I'll be graduating with my AAT in Computer Programming at the end of Winter 2019. <br />
        Following graduation, I will puruse my Bachelor's degree online through WGU while seeking career &amp; internship opportunities.
    </p>
</div>


