@{
    ViewBag.Title = "About";
}
<br />
<div class="jumbotron">
    <h2>@ViewBag.Title</h2>

    <p>I entered the world of programming back when Neopets.com was popular. <br />
    I started dabbling with HTML and CSS to make pages look the way I wanted. <br />
    I was good at editing pages heavily but never looked into programming any further.
    <br /><br />
    Years later I come across the program at Clover Park Technical College while contemplating going back to school.<br />
    I remembered my days with Neopets and decided to really dive into what it all meant. 
    <br /><br />
    I'll be graduating with my Associate's degree at the end of Winter 2019. <br />
    Following graduation, I will puruse my Bachelor's degree online through WGU while seeking career opportunities.</p>
</div>

