@{
    ViewBag.Title = "About";
}
<br />
<style>
    body {
        background: url("/Images/abstract-atmospheric-atmospheric-evening-1090972.jpg");
        background-repeat: no-repeat;
        background-position: center;
        background-size: 1600px;
        margin: auto;

    }
    #about {
        background-color: antiquewhite;
    }
</style>
<div id="about" class="jumbotron text-center">
    <h2>@ViewBag.Title</h2>

    <p>
        I entered the world of programming back when Neopets.com was popular. <br />
        I started dabbling with HTML and CSS to make pages look the way I wanted. <br />
        I was good at editing pages heavily but never looked into programming any further.
        <br /><br />
        Years later I come across the program at Clover Park Technical College while contemplating going back to school.<br />
        I remembered my days with Neopets and decided to really dive into what it all meant.
        <br /><br />
        I'll be graduating with my Associate's degree in Computer Programming &amp; Web Development at the end of Winter 2019. <br />
        Following graduation, I will puruse my Bachelor's degree online through WGU while seeking career &amp; internship opportunities.
    </p>
</div>


