@{
    ViewBag.Title = "About";
}
<br />
<div class="jumbotron">
    <h2>@ViewBag.Title</h2>

    <p>I entered the world of programming back when Neopets.com was popular. 
    I started dabbling with HTML and CSS to make pages look the way I wanted. 
    I was good at editing pages heavily but never looked into programming any further.
    <br />
    Years later I come across the program at Clover Park Technical College while contemplating going back to school.
    I remembered my days with Neopets and decided to really dive into what it all meant. 
    I'll be graduating with my Associate's degree then pursing my Bachelor's online while pursuing work and internships.</p>
</div>

