@{
    ViewBag.Title = "About";
}
<br />
@section head {
    <style>
        body {
            background: url("/Images/abstract-atmospheric-atmospheric-evening-1090972.jpg") no-repeat center center fixed;
            -webkit-background-size: cover;
            -moz-background-size: cover;
            -o-background-size: cover;
            background-size: cover;
        }

        #about {
            background-color: #e9e3ef;
        }
        #about h1 {
            font-family: 'Over the Rainbow', cursive;
            font-weight: bold;
        }
    </style>
    }

<div id="about" class="jumbotron text-center">
    <h1>@ViewBag.Title</h1>
    <div>
        <!-- I need a good photo of myself -->
    </div>
    <p class="">
        I entered the world of programming back when Neopets.com was popular. I dabbled with HTML and CSS to make pages look the way I wanted. Editing pages heavily
        became easier but I never took it any further. I slowly slipped away from Neopets as I progressed through junior high and high school.
        <br /><br />
        Years later I come across the program at Clover Park Technical College while contemplating going back to school.<br />
        I remembered my days with Neopets and decided to really dive into what it all meant. I felt it was a perfect marriage of my logic and math skills while still 
        allowing room for creativity.
        <br /><br />
        I'll be graduating with my AAT in Computer Programming at the end of Winter 2019. <br />
        Following graduation, I will pursue my Bachelor's degree online through WGU while seeking career &amp; internship opportunities.
    </p>
</div>


