
@{
    ViewBag.Title = "Blog";
}
<br />
    <div id-="blog" class="jumbotron text-center">
        <h2>Blog</h2>
        <!-- TODO: tell my fuller story here
                strengths
                struggles
                current projects-->
    </div>



