
@{
    ViewBag.Title = "Blog";
}
<br />
<div class="text-center">
    <div class="jumbotron">
        <h2>Blog</h2>
        <!-- TODO: tell my fuller story here
                strengths
                struggles
                current projects-->
    </div>
</div>



