
@{
    ViewBag.Title = "Blog";
}
<br />
@section head {
    <style>
        body {
            background: url("/Images/bed-bloom-blooming-1083936.jpg");
            background-repeat: no-repeat;
            background-position: center;
            background-size: 1600px;
            margin: auto;
        }

        #blog {
            background-color: antiquewhite;
        }
    </style>
    }


<div id="blog" class="jumbotron text-center">
    <h2>Blog</h2>
    <p>Going to use Blogger API... still figuring it out</p>
</div>



