@{
    ViewBag.Title = "Contact";
}

<br />
@section head {
    <style>
        body {
            background: url("/Images/cloud-landscape-mountain-1036371.jpg");
            background-repeat: no-repeat;
            background-position: center;
            background-size: 1600px;
            margin: auto;
        }

        #contact {
            background-color: antiquewhite;
        }
    </style>  
    }

    <div id="contact" class="jumbotron text-center">
        <h2>@ViewBag.Title</h2>

        <address>
            Spanaway, WA 98387<br />
            253.651.3851<br />
            <a href="https://www.linkedin.com/in/kristamarieb/">LinkedIn</a>


        </address>
    </div>

