@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title</h2>

<address>
    Spanaway, WA 98387<br />
    253.651.3851<br />
    <strong>LinkedIn: https://www.linkedin.com/in/kristamarieb/</strong>


</address>