@{
    ViewBag.Title = "Contact";
}

<br />

<div class="jumbotron">
    <h2>@ViewBag.Title</h2>

    <address>
        Spanaway, WA 98387<br />
        253.651.3851<br />
        <a href="https://www.linkedin.com/in/kristamarieb/">LinkedIn</a>


    </address>
</div>
