@{
    ViewBag.Title = "Home Page";
}
<br />
<style>
    body {
        background: url("/Images/abundance-agriculture-countryside-1166209.jpg");
        background-repeat: no-repeat;
        background-position: center;
        background-size: 1600px;
        margin: auto;
    }

    #index {
        background-color: antiquewhite;
    }
</style>
<div id="index" class="jumbotron">
    <div id="homePageImage">
        <!-- I want to include an image of myself here! -->
    </div>
    <h1 class="text-center">Welcome!</h1>

    <blockquote class="blockquote text-center">
        <p class="mb-0" id="quoteContainer"> </p>
        <footer class="blockquote-footer" id="quoteGenius"> </footer>
    </blockquote>
</div>

