@{
    ViewBag.Title = "Home Page";
}
<br />
<div class="jumbotron">
    <div id="homePageImage">
        <!-- I want to include an image of myself here! -->
    </div>
    <h1 class="text-center">Welcome!</h1>

    <!-- TODO: I want to try having rotating quotes -->
    <blockquote class="blockquote text-center">
        <p class="mb-0" id="quoteContainer"> </p>
        <footer class="blockquote-footer" id="quoteGenius"> </footer>
    </blockquote>

    <!--
            <div id="container">
        <div id="quoteContainer">
            <p></p>
            <p id="quoteGenius"></p>
        </div><!--end quoteContainer-->
    <!--
            <div id="buttonContainer">
        <button onclick="getQuote()" type="button" class="btn btn-primary" id="quoteButton">New Quote</button>
    </div><!--end buttonContainer-->
    <!-- </div><!--end container-->



</div>

