@{
    ViewBag.Title = "Home Page";
}
<br />
@section head {
    <style>
        /*
        body {
            background: url("/Images/abundance-agriculture-countryside-1166209.jpg");
            background-repeat: no-repeat;
            background-position: center;
            background-size: 1600px;
            margin: auto;
        }
        */
        body {
            background: url("/Images/abundance-agriculture-countryside-1166209.jpg") no-repeat center center fixed;
            -webkit-background-size: cover;
            -moz-background-size: cover;
            -o-background-size: cover;
            background-size: cover;
        }


        #index {
            background-color: #e9e3ef;
        }
    </style>
    }

<div id="index" class="jumbotron">
    <h1 class="text-center">Welcome</h1>

    <blockquote class="blockquote text-center">
        <p class="mb-0" id="quoteContainer"> </p>
        <footer class="blockquote-footer" id="quoteGenius"> </footer>
    </blockquote>
</div>

