
@{
    ViewBag.Title = "Portfolio";
}
<br />
<style>
    body {
        background: url("/Images/floor-parquet-pattern-172292.jpg");
        background-repeat: no-repeat;
        background-position: center;
        background-size: 1600px;
        margin: auto;
    }

    #portfolio {
        background-color: antiquewhite;
    }
</style>
    <div id="portfolio" class="jumbotron text-center">
        <h2>Portfolio</h2>
        <p>Display Github Repos here :)</p>
        <!-- TODO: Hookup GitHub API -->
    </div>


