
@{
    ViewBag.Title = "Portfolio";
}
<br />
@section head {
    <style>
        body {
            background: url("/Images/design-exterior-masonry-966927.jpg") no-repeat center center fixed;
            -webkit-background-size: cover;
            -moz-background-size: cover;
            -o-background-size: cover;
            background-size: cover;
        }

        #portfolio {
            background-color: #e9e3ef;
        }
    </style>
}

<div id="portfolio" class="jumbotron text-center">
    <h1>Portfolio</h1>
    <hr />

    <!-- #region -->
    @*<div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators">
            <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
        </ol>
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img class="d-block w-100" src="~/Images/sunset-sm.jpg" alt="First slide">
                <div class="carousel-caption d-none d-md-block">
                    <h5>Title</h5>
                    <p>Description</p>
                </div>
            </div>
            <div class="carousel-item">
                <img class="d-block w-100" src="~/Images/stars-sm.jpg" alt="Second slide">
                <div class="carousel-caption d-none d-md-block">
                    <h5>Title</h5>
                    <p>Description</p>
                </div>
            </div>
            <div class="carousel-item">
                <img class="d-block w-100" src="~/Images/MountRainier.jpg" alt="Third slide">
                <div class="carousel-caption d-none d-md-block">
                    <h5>Title</h5>
                    <p>Description</p>
                </div>
            </div>
        </div>
        <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>*@
    <!-- #endregion-->

    <div class="row">
        <div class="card mx-auto" style="width: 33%">
            <div class="card-body">
                <h4>ASP.NET MVC Websites</h4>
                <a class="btn btn-dark" href="https://github.com/KristaMarieB/RouseMusicianPortfolioSite">Muscian Portfolio Website</a>
                <p>Description</p>
                <a class="btn btn-dark" href="https://github.com/KristaMarieB/PortfolioSite">Repo for the site you're on now!</a>
                <p>Description</p>
            </div>

        </div>

        <div class="card mx-auto" style="width: 33%">
            <div class="card-body">
                <h4>C++</h4>
                <a class="btn btn-dark" href="https://github.com/KristaMarieB/Cpp-RegularPolygon-Assignment">Working with Classes</a>
            </div>

        </div>

        <div class="card mx-auto" style="width: 33%">
            <div class="card-body">
                <h4>Android Projects</h4>
                <h5>Tic Tac Toe</h5>
                <p>Description</p>
                <a class="btn btn-dark" href="https://github.com/KristaMarieB/TicTacToe">Repo</a>
                <h4>Furever Homes</h4>
                <p>Description</p>
                <a class="btn btn-dark" href="https://github.com/KristaMarieB/Furever-Homes">Repo</a>
            </div>

        </div>
    </div>
    <hr />
</div>


