
@{
    ViewBag.Title = "Portfolio";
}
<br />
@section head {
    <style>
        body {
            background: url("/Images/floor-parquet-pattern-172292.jpg") no-repeat center center fixed;
            -webkit-background-size: cover;
            -moz-background-size: cover;
            -o-background-size: cover;
            background-size: cover;
        }

        #portfolio {
            background-color: antiquewhite;
        }
    </style>
    }

    <div id="portfolio" class="jumbotron text-center">
        <h2>Portfolio</h2>
        <p>Display Github Repos here :)</p>
        <!-- TODO: Hookup GitHub API -->
    </div>


