
@{
    ViewBag.Title = "Resume";
}
<br />
@section head {
    <style>
        body {
            background: url("/Images/CoffeeBeans.jpg") no-repeat center center fixed;
            -webkit-background-size: cover;
            -moz-background-size: cover;
            -o-background-size: cover;
            background-size: cover;
        }

        #resume {
            background-color: e9e3ef;
        }
    </style> 
    }

<div id="resume" class="jumbotron text-center">
    <h1>Resume</h1>
    <h4>Compentencies</h4>
    <p>
        Java | C# | .NET | SQL | ASP.NET MVC | C++ | Javascript | HTML | CSS | Python <br />
        Visual Studio | GitHub | Slack | Android Studio <br />
        Management | Agile Development | Timeliness  | Hospitality | ASL
    </p>

    <br />
    <h4>Education</h4>
    <p>
        Clover Park Technical College - Computer Programming &amp; Web Development - Graduating 2019 - GPA 4.0<br />
        Pierce College Puyallup - Recieved Associate of Arts (General Education) - Graduated 2014 - GPA 3.87
    </p>

    <br />
    <h4>Work Experience</h4>
    <p>
        Costco Wholesale Cashier 2017 - Present <br />
        Best Western Housekeeping Manager 2015 - 2017 <br />
        Best Western Housekeeping Supervisor 2014 - 2015 <br />
        Best Western Room Attendant 2011 - 2014<br />
    </p>
    <h5>More can be viewed on my <a href="https://www.linkedin.com/in/kristamarieb/">LinkedIn</a></h5>
</div>



