
@{
    ViewBag.Title = "Resume";
}
<br />
@section head {
    <style>
        body {
            background: url("/Images/CoffeeBeans.jpg") no-repeat center center fixed;
            -webkit-background-size: cover;
            -moz-background-size: cover;
            -o-background-size: cover;
            background-size: cover;
        }

        #resume {
            background-color: e9e3ef;
        }

        a, a:hover {
            color: black;
        }
    </style> 
    }

<div id="resume" class="jumbotron text-center">
    <h1>Resume</h1>
    <hr />
    <h4>Compentencies</h4>
    <p>
        C# | ASP.NET MVC | SQL | Javascript | HTML | CSS | Java | C++ | Python <br />
        Visual Studio | GitHub | TFS | Slack | SharePoint | Android Studio <br />
        Management | Agile Development | Timeliness  | Hospitality | ASL
    </p>

    <br />
    <h4>Education</h4>
    <p>
        <b>Clover Park Technical College</b> - <i>AAT in Computer Programming</i> - Graduated March 2019 - GPA 4.0<br />
        <b>Pierce College Puyallup</b> - <i>AA in General Education</i> - Graduated 2014 - GPA 3.87
    </p>

    <br />
    <h4>Work Experience</h4>
    <p>
        <b>MultiCare Health Systems</b> <i>Software Engineering Intern</i> June 2019 - December 2019 <br />
        <b>Costco Wholesale</b> <i>Cashier</i> July 2017 - June 2019 <br />
        <b>Best Western</b> <i>Housekeeping Manager</i> 2015 - 2017 <br />
        <b>Best Western</b> <i>Housekeeping Supervisor</i> 2014 - 2015 <br />
        <b>Best Western</b> <i>Room Attendant</i> 2011 - 2014<br />
    </p>
    <h5>More can be viewed on my <a href="https://www.linkedin.com/in/kristamarieb/" target="_blank">LinkedIn</a></h5>
    <hr />
</div>



