
@{
    ViewBag.Title = "Resume";
}
<br />
<div class="jumbotron">
    <h1>Resume</h1>
    <h4>Technologies</h4>
    <ul>
        <li>Java</li>
        <li>C#</li>
        <li>SQL</li>
        <li>Python</li>
        <li>Javascript</li>
        <li>HTML/CSS</li>
        <li>Visual Studio</li>
        <li>Android Studio</li>
    </ul>
    <h4>Education</h4>
    <ul>
        <li>Clover Park Technical College - Computer Programming &amp; Web Development - Graduating 2019</li>
        <li>Pierce College Puyallup - Recieved Associate of Arts (General Education) - Graduated 2014</li>
    </ul>
    <h4>Work Experience</h4>
    <ul>
        <li>Costco Cashier 2017 - Present</li>
        <li>Best Western Housekeeping Manager 2015 - 2017</li>
        <li>Best Western Housekeeping Supervisor 2014 - 2015</li>
        <li>Best Western Room Attendant 2011 - 2014</li>
    </ul>
</div>


