
@{
    ViewBag.Title = "Resume";
}
<br />
<div class="jumbotron">
    <h2>Resume</h2>
    <table>
        <thead>
            <tr>
                <th>Objective </th>
            </tr>
        </thead>
    </table>
</div>


