
@{
    ViewBag.Title = "BlogIndex";
}
<br />
@section head {
    <style>
        body {
            background: url("/Images/bed-bloom-blooming-1083936.jpg") no-repeat center center fixed;
            -webkit-background-size: cover;
            -moz-background-size: cover;
            -o-background-size: cover;
            background-size: cover;
        }

        #blog {
            background-color: #e9e3ef;
        }
    </style>
}


<div id="blog" class="jumbotron text-center">
    <h1>Blog</h1>
    <p>Going to use Blogger API... still figuring it out</p>
</div>
