@{
    ViewBag.Title = "Contact Me";
}

<br />
@section head {
    <style>
        body {
            background: url("/Images/cloud-landscape-mountain-1036371.jpg") no-repeat center center fixed;
            -webkit-background-size: cover;
            -moz-background-size: cover;
            -o-background-size: cover;
            background-size: cover;
        }

        #contact {
            background-color: e9e3ef;
        }

        a, a:hover {
            text-decoration: none;
            color: black;
        }
    </style>
}

<div id="contact" class="jumbotron text-center">
    <h1>@ViewBag.Title</h1>
    <!-- Adding a Contact Me form here! -->
    <form method="post">
        <div class="form-group">
            <label asp-for="Name">Name</label>
            <input asp-for="Name" class="form-control" />
            <span asp-validation-for="Name" class="text-muted"></span>
        </div>
        <div class="form-group">
            <label asp-for="Email">Email</label>
            <input asp-for="Email" class="form-control" />
            <span asp-validation-for="Email"
                  class="text-muted"></span>
        </div>
        <div class="form-group">
            <label asp-for="Subject">Subject</label>
            <input asp-for="Subject" class="form-control" />
            <span asp-validation-for="Subject"
                  class="text-muted"></span>
        </div>
        <div class="form-group">
            <label asp-for="Message">Message</label>
            <textarea rows="5" cols="15"
                      asp-for="Message" class="form-control"></textarea>
            <span asp-validation-for="Message"
                  class="text-muted"></span>
        </div>
        <div>

            <button href="#">
                Send <i class="far fa-paper-plane fa-2x"></i><br /><br />
            </button>
        </div>
    </form>

    <div>
        <a href="https://www.linkedin.com/in/kristamarieb/" target="_blank">
            <i class="fab fa-linkedin fa-2x"></i>
        </a>
        <a href="https://github.com/KristaMarieB" target="_blank">
            <i class="fab fa-github-square fa-2x"></i>
        </a>


    </div>
</div>

